
.cards__list{
  display:flex;
  flex-wrap:wrap;
  list-style: none;
  text-align:center;
}

.card__list-container {
  background-color:cyan;
  border: solid 1px grey;
  padding:5px;
  margin:10px 20px;
}

.card__list-container-list_properties {
  list-style: none;
  padding:0;
}